:root {
  --font-color: white;
  --space-atomic: 1rem;
  --background-transparent: rgb(0 0 0 / 50%);
  /* Computed */
  --size-icon: calc(var(--space-atomic) * 1.5);
  --padding-body: var(--space-atomic);
  --margin-reclaim: calc(var(--padding-body) * -0.5);
}

body {
  font-family: Calibri, Verdana, Candara, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
